.background{
	background-image: url('../images/background.jpg');
	width: 1689.33px;
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	position: relative;
}
.cloud{
	position: absolute;
	top: 0;
	left: 440px;
}
.raindrop1{
	position: absolute;
	top: 260px;
	left: 580px;
	height: 50px;
	animation: mymove 3s infinite;
}
.raindrop2{
	position: absolute;
	top: 260px;
	left: 800px;
	height: 50px;
	animation: mymove 5s infinite;
}
.raindrop3{
	position: absolute;
	top: 260px;
	left: 1000px;
	height: 50px;
	animation: mymove 4s infinite;
}
.puddle{
	position: absolute;
	top: 500px;
	left: 400px;
}
@keyframes mymove{
	from { top: 260px;}
	to { top: 800px;}
	
}