.background{
	background-image: url('../images/background.jpg');
	width: 1689.33px;
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	position: relative;
}
.cloud{
	position: absolute;
	top: 0;
	left: 440px;
}
.raindrop1{
	position: absolute;
	top: 260px;
	left: 580px;
	height: 50px;
	animation: mymove 3s infinite;
}
.raindrop2{
	position: absolute;
	top: 260px;
	left: 800px;
	height: 50px;
	animation: mymove 5s infinite;
}
.raindrop3{
	position: absolute;
	top: 260px;
	left: 1000px;
	height: 50px;
	animation: mymove 4s infinite;
}
.puddle{
	position: absolute;
	width: 600px;
	top: 580px;
	left: 540px;
	animation: mymove2 3.5s infinite;
}
@keyframes mymove{
	from { top: 260px; opacity: 100%}
	to { top: 800px; opacity: 0}
}
@keyframes mymove2{
	25% {opacity: 0}
	50% {opacity: 25%}
	75% {opacity: 55%}
	100% {opacity: 100%}
}
.navbar{
	position: absolute;
	top: 210px;
	left: 640px;
}
.navli{
	display: inline-block;
	font-size: 50px;
	padding-right: 30px;
}
a{
	transition: all ease;
}
a:hover{
	color: red;
	font-weight: bold;
	background: blue;
}